@media (max-width: 768px) {
  .content {
    padding: 4% 0 0;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
  .on {

    padding: 1rem!important;
  }


  .event {
    margin: 0.1rem;
    margin-bottom: 0.5rem;
  }

  #tmpl-home .teaser {
    margin-left: 0;
    margin-top: 2rem;
  }

  .inner {
    margin-right: 0;
    padding: 1rem;
  }

  .inner_contact {
    font-size: 19px;
    margin-left: 4%;
  }

  .teaser p {
    font-size: 19px;
  }

  h1 {
    font-size: 36px;
    letter-spacing: 0.06em;
  }

  p {
    font-size: 14px;
  }

  .object-fit_contain {
    margin: 0.1rem;
    margin-bottom: 0.5rem;
  }

  #summary p.collapse:not(.show) {
    height: 80px !important;
  }

  #summary p.collapsing {
    min-height: 80px !important;
  }
}

@media (max-width: 603px) {
  #tmpl-menu .navbar-brand {
    height: auto;
    margin-right: 0;
  }

  .logo-image {
    display: none;
  }

  label {
    float: none !important
  }

  .pull-left.fnav,
  .pull-right.fnav {
    float: none !important;
    text-align: center;
  }

  .hover-bg .hover-text {
    padding: 12% 10%;
  }
  .anchor{
  visibility: hidden;
  height: 0px !important;
  position: absolute;
  margin: -150px;
}
}

@media (max-width: 360px) {
  .hover-bg .hover-text {
    padding: 22% 10%;
  }
}
